.lb-bold{
    font-weight: bold;
}
.text-center{
    display: block;
    text-align: center;
    text-decoration: none;
}
.taga{
    text-decoration: none;
}
.divdetailproduct{
    padding-top: 20px;
}
.imgactive {
    border: 2px solid #fcaf17;
    border-radius: 3px;
    padding: 2px;
}
.pronamedetail{
    margin: 0px 0 30px 0;
    flex-basis: auto;
    flex-grow: 3;
    display: flex;
}
.imgprodetail{
    max-width: 100%;
}
.listimgdetail {
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgldetail {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    /* padding-left: 5px; */
}
.divcommit{
    margin-top: 15px;
}
.spcommit{
    display: block;
    margin-top: 5px;
    margin-left: 10px;
}
.btnbuynow{
    margin-top: 15px;
}

.btnbuynowac{
    width: 60%;
    float: left;
    background: #f9ece6;
    box-shadow: 0 4px 6px #00000029;
    border-radius: 3px;
    border: none;
    padding-bottom: 10px;
    height: 50px;
    color: #514f4f;
}
.btnaddtocart{
    width: 38%;
    float: right;
    background: transparent linear-gradient(180deg,#ff990e 0%,#ff6801 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0 4px 6px #00000029;
    border: none;
    color: #fff;
    border-radius: 3px;
    height: 50px;
}
.divdesctiption{
    margin-top: 20px;
}
.titledes{
    font-weight: bold;
    font-size: 25px;
}

.singlectlct {
    margin-top: 40px;
}

.nguoidangctl {
    margin-bottom: 10px;
}

.avtuserdangctl {
    width: 30px;
}

.usernamedangctl {
    margin-left: 5px;
    color: blue;
}

.ngaytraloi {
    margin-left: 20px;
    color: gray;
}
.contentctlct {
    word-break: break-word;
    font-size: 14px;
    color: #212b35;
}
.divpostcomment{
    margin-top: 40px;
    margin-bottom: 50px;
}
.divpostcomment button{
    margin-top: 40px;
}
.deletecmt{
    margin-left: 20px;
    cursor: pointer;
}
.divcart{
    padding-top: 20px;
}
.titlecart{
    font-weight: bold;
    font-size: 1.1rem;
}
.tablecart td,
tfoot,
th,
thead,
tr {
    border-style: none !important;
}
.imgprocart {
    width: 100px;
    float: left;
}
.divnamecart {
    padding-left: 10px;
    position: relative;
    height: 100px;
    margin-left: 100px;
}

.sizecart {
    position: absolute;
    bottom: 0;
    left: 10px;
}

.tdpricecart {
    position: relative;
    height: 100px;
}
.delcart {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
    cursor: pointer;
}
.nameprocart {
    font-size: 15px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

.nameprocart:hover {
    color: #ffc107;
}
.boldcart {
    font-family: 'SVN-Gilroy Bold';
    color: #000000;
    font-weight: bold;
}
.clusinp {
    width: 120px;
}

.facartde {
    color: #333;
    font-size: 13px;
}
.cartbtn {
    line-height: 24px;
    padding: 0;
    margin: 0;
    width: 37px;
    background-color: #fff;
    height: 36px;
    float: left;
    border: 1px solid #D9D9D9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #62676D;
    font-size: 20px;
}

.inputslcart {
    line-height: 24px;
    padding: 0;
    margin: 0;
    width: 37px;
    background-color: #fff;
    height: 36px;
    float: left;
    border: 1px solid #D9D9D9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #62676D;
    font-size: 20px;
    text-align: center;
}

.totalbill {
    width: 100%;
    height: 60px;
    position: relative;
}

.btncheckout {
    position: absolute;
    right: 0;
    height: 40px;
    background-color: #fcaf17;
    color: #fff;
    font-size: 16px;
    font-family: 'SVN-Gilroy Bold';
    border: none;
    border-radius: 5px;
    width: 120px;
}
.totalamount {
    color: #000;
    font-size: 1.1rem;
    font-family: 'SVN-Gilroy Bold';
    font-weight: bold;
}
.boldtext{
    font-weight: bold;
}
.lbcheckout{
    font-weight: 500;
    margin-top: 10px;
}
.contentaccount{
    margin-top: 30px;
    margin-bottom: 50px;
}
.tabdv{
    cursor: pointer;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
}
.activetabdv{
    background-color: #dedede;
}
.totalInvoice{
    font-weight: bold;
    font-size: 1.2rem;
}
.huydon{
    color: gray;
    cursor: pointer;
}
.imgdetailhd{
    width: 100px;
}
.iconcancel{
    margin-left: 20px;
    cursor: pointer;
}
.pointer{
    cursor: pointer;
}
.contentpage{
    margin-top: 40px;
}
.single-store{
    margin-top: 30px;
}
.single-store iframe{
    width: 100%;
    height: 400px;
}
.product-name{
    height: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.searchheader{
    width: 300px;
}
.itemsearchheader{
    position: absolute;
    width: 300px;
    top: 50px;
}
.itemsearchheader span{
    width: 200px;
}
.dropdownsearch{
    display: none;
    z-index: -1;
}




.headerdetail {
    font-size: 0.9rem !important;
}

.headerdetail .yls {
    font-size: 0.9rem !important;
}

.shipinfor {
    margin-top: 30px;
}

.reciverName {
    font-weight: bold;
}

.blockinfor {
    min-height: 120px;
    padding: 13px 25px 10px 20px;
    border: 1px solid #DDE1EF;
    background: none;
    margin-top: 10px;
}

.blockinfor span {
    color: #212B25;
    font-size: 14px;
    line-height: 16px;
    vertical-align: top;
    text-align: left;
}

.ttshipinfor {
    margin-top: 10px;
}

.imgdetailacc {
    width: 100px;
}
.vnpayimg{
    width: 50px;
}

#thatbai{
    text-align: center;margin-top: 15px; display: none;
}
#thatbai p{
    margin-top: 15px;
}
#thanhcong{
    text-align: center;margin-top: 15px; line-height: 25px;
}
#thanhcong h3{
    font-size: 25px;
}
#thanhcong p{
    margin-top: 15px;
}
.headstore{
    padding: 10px;
    background-color: #5e5e5e;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    height: 30px;
    padding: 2px 10px;
}
.singlestore{
    border: 1px solid #cfcfcf;
    border-top: none;
    padding: 5px 10px;
    cursor: pointer;
}
.storename{
    color: #d92121;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    margin: 0;
}
.addressstor{
    display: block;
    color: gray;
}
.liststores{
    height: 500px;
    overflow: scroll;
}
.singlestore iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iframe-container {
    width: 100%; /* hoặc chiều rộng cố định, ví dụ: 800px */
    max-width: 100%; /* Giới hạn chiều rộng tối đa */
    height: 600px; /* Chiều cao mong muốn */
    border: 1px solid #ccc; /* Thêm viền cho dễ nhìn nếu cần */
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none; /* Xóa viền của iframe nếu không cần */
}